{extends 'layout.latte'}

{block title}List of persons{/block}

{block body}
    <form action="{link addPerson}" method="post">
        <label>First name</label>
        <input type="text" name="fn"}"><br>
        <label>Last name</label>
        <input type="text" name="ln"}"><br>
        <label>Nickname</label>
        <input type="text" name="nn"}"><br>
        <label>Height</label>
        <input type="number" name="h"}"><br>
        <label>Gender</label>
        <input type="text" name="g"}"><br>
        <button type="submit">Save</button>
    </form>
{/block}