{extends 'layout.latte'}

{block title}List of persons{/block}
{block body}
    <form action="{link personList}" method="get">
        <input type="text" name="q">
            <button type="submit">
                Search for people
            </button>
    </form>
    <table class="table table-striped table-hover">
    {foreach $people as $p}

            <tr>
                <td>{$p['first_name']}</td>
                <td>{$p['last_name']}</td>
                <td>{$p['nickname']}</td>
            </tr>
    {/foreach}
    </table>
{/block}